---
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

const termsPage = await getEntry("page", "terms")!!;
const { Content } = await render(termsPage);
---

<Layout title={termsPage.data.title} description={termsPage.data.description}>
  <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <article class="prose prose-lg mx-auto">
      <Content />
    </article>
  </div>
</Layout>
