---

---

<section class="bg-primary-700">
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
  >
    <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
      <span class="block">Ready to take control of your finances?</span>
      <span class="block text-primary-200">Join our waitlist today.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a
          href="/waitlist"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-primary-600 bg-white hover:bg-primary-50"
        >
          Join Waitlist
        </a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a
          href="https://github.com/Fantasy-programming/nuts"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500"
        >
          Self-Host
        </a>
      </div>
    </div>
  </div>
</section>
